.payment label {
  font-weight: 600;
  color: #000d6b;
}

.payment button {
  padding: 8px 15px;
  border-radius: 5px;
  background: #000d6b;
  color: #fff;
  border: none;
  outline: none;
}

@media only screen and (max-width: 768px) {
  .payment label {
    font-size: 0.9rem;
  }

  .payment button {
    padding: 6px 12px;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 576px) {
  .payment label {
    font-size: 0.8rem;
  }

  .payment button {
    padding: 5px 10px;
    font-size: 0.8rem;
  }
}
